*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


body{
    background-color: black;
    display:grid;
    place-items:center;
    
}
.emoji{
    width:400px;
    height:400px;
    background-color:rgba(169, 169, 169, 0.344);
    border-radius:50%;
    position:relative;
}


.emoji::before{
    content:"";
    width:50PX;
    height:50px;
 background-color: cornflowerblue;
    position:absolute;
    top:90px;
    left:70px;
    border-radius:50%;
}

.emoji::after{
    content:"";
    width:50PX;
    height:50px;
    background-color:cornflowerblue;
    position:absolute;
  left:240px;
  top:90px;
    border-radius:50%;
}




.mouth{
    width:200px;
    height:100px;
   background-color: brown;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    position:relative;
    top:200px;
    left:80px;
    display:flex;
    justify-content: center;
}

.lip{
    width:20px;
    height:300px;
    background-color:coral;
    border-top:none;
    position:relative;
    top:50px;
    animation: moving 2s linear infinite alternate;
    transform-origin:top ;
}

.lip::after{
    content:"";
    width:100px;
    height:100px;
    background-color:coral;
    border-radius:50%;
    position:absolute;
    top:290px;
    left:-42px;
}

@keyframes moving{
    0%{
        transform :rotate(60deg);
    }
    50%{
        transform :rotate(0deg);   
    }
    100%{
        transform :rotate(-60deg);
    }
    
}
